@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background-color: #fafbfe;
}

#sidebar {
  width: 80px;
  min-width: 70px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  background-color: #a67d79;
}

#sidebar.expand {
  width: 200px;
  min-width: 200px;
}

#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
}

#toggle-btn i {
  font-size: 1.5rem;
  color: #fff;
}

.sidebar-logo {
  margin: auto 0;
}

.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo {
  display: none;
}

.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #fff;
  display: block;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidebar-link i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

a.sidebar-link:hover {
  background-color: rgba(255, 2555, 255, 0.075);
  border-left: 3px solid #fff3e3;
}

.sidebar-item {
  position: relative;
}

#sidebar:not(.expand) .sidebar-item:hover {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

#sidebar:not(.expand) .sidebar-link span {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #a67d79;
  padding: 6px 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  color: #fff;
  z-index: 1001;
  pointer-events: none;
}

#sidebar:not(.expand) .sidebar-item:hover .sidebar-link span {
  opacity: 1;
  visibility: visible;
}

#sidebar:not(.expand) .sidebar-footer {
  position: relative;
}

#sidebar:not(.expand) .sidebar-footer .sidebar-link span {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #a67d79;
  padding: 6px 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  color: #fff;
  z-index: 1001;
  pointer-events: none;
}

#sidebar:not(.expand) .sidebar-footer:hover .sidebar-link span {
  opacity: 1;
  visibility: visible;
}

.sidebar-link.active {
  background-color: rgba(255, 255, 255, 0.15);
  border-left: 3px solid #fff3e3;
  color: #fff;
}
